<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue à la médiathèque</h1>
    <ul>
        <li><a href="{% url 'liste_membres' %}">Liste des membres</a></li>
        <li><a href="{% url 'liste_medias' %}">Liste des médias</a></li>
        <li><a href="{% url 'add_livre' %}">Ajouter un Livre</a></li>
        <li><a href="{% url 'add_dvd' %}">Ajouter un DVD</a></li>
        <li><a href="{% url 'add_cd' %}">Ajouter un CD</a></li>
        <li><a href="{% url 'add_jeu_de_plateau' %}">Ajouter un Jeu de Plateau</a></li>
        <li><a href="{% url 'creer_membre' %}">Créer un membre</a></li>
    </ul>
</body>
</html>
</html>