<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste de médias</title>
</head>
<body>
 <h1>Liste des médias</h1>
    <h2>Livres</h2>
    <ul>
        {% for livre in livres %}
        <li>{{ livre.name }} par {{ livre.auteur }}</li>
        {% endfor %}
    </ul>
    <h2>DVDs</h2>
    <ul>
        {% for dvd in dvds %}
        <li>{{ dvd.name }} par {{ dvd.realisateur }}</li>
        {% endfor %}
    </ul>
    <h2>CDs</h2>
    <ul>
        {% for cd in cds %}
        <li>{{ cd.name }} par {{ cd.artiste }}</li>
        {% endfor %}
    </ul>
    <h2>Jeux de Plateau</h2>
    <ul>
        {% for jeu in jeux_de_plateau %}
        <li>{{ jeu.name }} par {{ jeu.createur }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Retour à l'accueil</a>
</body>
</html>