<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mettre à jour le membre</title>
    
</head>
<body>
    <div>
        <h1>Mettre à jour les informations du membre</h1>

       
        <form method="POST">
            {% csrf_token %}
            
            
            <div class="form-group">
                {{ form.as_p }} 
            </div>
            
            
            <button type="submit">Mettre à jour</button>
            
        
            <a href="{% url 'liste_membres' %}">Annuler</a>
        </form>
    </div>

    
</body>
</html>
